        <footer>
                   
                    <ul>  
                        <li>Follow us</li>
                        
                     
                        <li><i class="fa-brands fa-instagram"></i><a href="https://z-p15.www.instagram.com/">@yesi.windecker</a></li>
                        <li><i class="fa-brands fa-twitter"></i><a href="https://twitter.com/home">@y.windecker</a></li>
                    </ul>
        </footer>