        <footer>
                   
                    <ul>  
                        <li><i class="fa-regular fa-comment"></i>Y.Windecker</li>
                        
                        <li>@yeyu_2022</li>
                    </ul>
        </footer>