       
          <div class="page-container">
        <header>
            <div class="header-isologo">
            <i class="fa-solid fa-house-circle-check fa-3x nav-home"></i>
            <h1>Inside</h1>
            </div>
            <p>Diseño de Interiores</p>
        
       <nav>
                <ul class="menu">
                    <li><i class="fa-solid fa-people-group"></i></i> <a href="/about">About</a></li>
                    <li><i class="fa-solid fa-paper-plane"></i><a href="../contact.hbs">Contact</a>
                <ul class="submenu">
                <li><a href="/users/login">Login</a></li>
                <li> <a href="/users/register">Registrarse</a></li>
                </ul> 
                
                    <li><i class="fa-solid fa-door-open"></i><a href="/interiores">Interiores</a></li>
                </ul>
                
            </nav>
           </header>
       