       
          <div class="page-container">
        <header>
            <div class="header-isologo">
            <i class="fa-solid fa-house-circle-check fa-3x nav-home"></i>
            <h1>Inside</h1>
            </div>
            <p>Diseño de Interiores</p>
        
       <nav class="menu">
                <ul>
                
                    <li><i class="fa-solid fa-house"></i> <a href="/">Home</a></li>
                     {{#if user}}
                    <li><i class="fa-solid fa-user"></i> <a href="#">Logout</a>
                   <ul>
                <li><a href="/users/settings">Configuraciones</a></li>
                <li> <a href="/users/validate">Validar Email</a></li>
                </li>
                </ul> 
                    <li><i class="fa-solid fa-user-secret"></i> <a href="secret">SessionSecreta</a></li>
                    <li><i class="fa-solid fa-people-group"></i></i> <a href="/about">About</a></li>
                    <li><i class="fa-solid fa-door-open"></i><a href="/interiores">Interiores</a></li>

                   {{else}}
                <li><i class="fa-solid fa-paper-plane"></i><a href="#">Contact</a>
                <ul>
                <li><a href="/users/login">Login</a></li>
                <li> <a href="/users/register">Registrarse</a></li>
                </li>
                </ul> 
                {{/if}}
                
                </ul>
                
            </nav>
           </header>
       