<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arima:wght@300&family=Josefin+Sans&display=swap" rel="stylesheet">
 <!-- font awesome -->
<script src="https://kit.fontawesome.com/6eb3eb8352.js" crossorigin="anonymous"></script> 
<!-- icono pagina --> 
<link rel="icon" href="./images/house_home_icon_218857.png">  
<link rel="stylesheet" href="/css/styles.css"> 
    <title>Casa de Interiores</title>
</head>

<body>
{{>navbar}}
{{{body}}}




        

      
        
      
    
<script src="app.js"></script>
   </body>
</html>