         
                <h2  class="item-1">Sobre nosotros</h2>
               
                    <article class="item-2">
              <p>   1.  Ilumina cada alcoba y esquina.
                 2.    En la remota posibilidad de que necesite ver iluminar cada esquina y alcoba, en ese momento tendrá que venir a nosotros.
                 3.Diseños para que empieces a verte con los ojos llenos de estrellas. </p>
                    </article>
                    <article class="item-3">
                <p> 4.Nuestros planes son estructuras de esa manera que comenzarás a mirarlos con ojos de estrellas al tener solo una vista hacia ellos.
                 5.Adorándote en cada borde.
                 6 Nuestro plan asegurará que quien acuda a su casa lo venere desde cada rincón.</p>
                    </article>
                     <article class="item-4">
                <p> 7.En el caso de que necesite conocer la artesanía común y necesita obtener la experiencia de por vida, entonces querrá venir a nosotros.
                8.Un estilo que dice algo, nuestro estilo siempre tendrá una explicación de que cada individuo que los vea debe venerarlos.</p>
                     </article>

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              