               <div class="about">
                <h2  class="item-1">Sobre nosotros</h2>
                <p class="item-2">
                    Empresa global que se dedica a El diseño interior o interiorismo involucrada en el proceso de formar la experiencia del espacio interior, con la manipulación del volumen espacial así como el tratamiento superficial.</p>

               <div class="img-about"> <img class="foto" src="https://images.pexels.com/photos/1445416/pexels-photo-1445416.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt=""></div>

               </div>

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              