<div class="big-container">
  <div class="carrusel">
   <div class="img-carrusel">
<img src="/images/bañomoderno.jpg"  class="img"  alt="baño moderno">
<img src="/images/chairs.jpg" class="img" alt="sillas">
<img src="/images/cocinamoderna.jpg" class="img" alt="cocinamoderna">
<img src="/images/cocinaverde.jpg" class="img" alt="cocinaverde">
<img src="/images/cocinavintage.jpg"  class="img" alt="cocinavintage">
<img src="/images/pexels-catherine-augustin-3049121.jpg" class="img"   alt="rincon">
<img src="/images/pexels-homelane-com-1776574.jpg" class="img"  alt="living">
<img src="/images/pexels-valeria-boltneva-1129413.jpg"  class="img"  alt="macetas">

   </div>
  </div> 
</div>

{{>footer}}