 <main>
    <div class="img-container">
    
        <article class="articulo1"><img src="./images/pexels-catherine-augustin-3049121.jpg" alt="diseño">
           <p class="articulo2">"No existe una casa tan mala que no pueda convertirse en algo que merezca la pena"</p>
        </article>
         <article class="articulo1"><img src="images/pexels-jonathan-borba-3316924.jpg" alt="diseñointerior">
           <p class="articulo2">"Ama el color. Toma riesgos. Sé curioso". Kelly Wearstler.</p>
      </article>
        <article class="articulo1"><img src="./images/pexels-valeria-boltneva-1129413.jpg" alt="plantasinterior">
           <p class="articulo2">"La casa debe ser el estuche de la vida, la máquina de felicidad." Le Corbusier.</p>
        </article>
     </div>
</main>

<!-- section Menu-->
<section>

   <p>¡Visite nuestras salas de exposición inspiradoras hoy !</p>
   <a href="https://www.architectmagazine.com/awards/residential-architect-design-awards/" target="_blank">Ingrese aqui</a>
  <img src="./images/pexels-scott-webb-403571.jpg" alt="">
</section>