  
           <div class="box">
          <form action="/users/register" method="POST">
                <ul class="user-box"> 
                <li>
                        <label for="name"></label>
                        <input type="text" name="name" id="name" placeholder="Nombre"  autofocus>
                    </li>
                    <li>
                     <label for="lastName"></label>
                        <input type="text" name="lastName" id="lastName" placeholder="Apellido" >
                    </li>
                     <li>
                        <label for="email"></label>
                        <input type="email" name="email"  id="email" placeholder="Email">
                     </li>
                    <li>
                        <label for="pass"></label>
                        <input type="password"  name="pass" id="pass" placeholder="Contraseña" >
                     </li>
                     </ul>
                     {{#if message}}

                      <div>
                    {{message}}
                      </div>
                    {{/if}}
                     <div class="user-box">   
                        <label for="submit"></label>
                        <input type="submit" class="submit" value="Registrese">
                        <a href="/users/login" class="submit">Volver al Login</a>
                    </form>
                     </div>
          
                <div class="imgform">
                    <img class="imagen" src="/images/pexels-scott-webb-403571.jpg" alt="diseño grafico">
                </div>
         


