 <div class="d-flex justify-content-between">
        <input type="submit" class="btn btn-success " value="Already have an account" />
        <a href="/users/register" class="btn btn-warning ">I don't have an account</a>
      </div>