 body {
    margin: 0;
    padding: 0;

} 
.page-container {
    display: grid;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header"
    "article article article"
    "section section section "
    "footer footer footer"
     
    
    ;
    
}
  
html {
    font-family:'Josefin Sans', sans-serif;
    padding: 15px;
}
.body-home {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
/* HeADER*/
header {
    grid-area: header;
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.header-isologo {
    display: flex;
    align-items: center;
}
.header p {
    font-family:'Josefin Sans', sans-serif;
    font-size: 25px;
    font-style: italic;
}
header h1 {
    font-family:'Arima', cursive;
    font-size: 3rem;

}

/*Home*/
img {
    width: 300px;
    height: 300px;
    padding: 50px;
    align-items: center;
    border-radius: 50%;
}

/*nav*/


.menu > ul li {
 
    list-style: none;
    padding: 5px;

   }
   .menu ul a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px;


   }
.menu ul li{
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
}
.menu ul ul {
    display: none;
    position: absolute;
    top:100%;
    left: 0;
    padding: 0;
} 
.menu ul ul li {
    float: none;
    width: 150px;
}
.menu ul li:hover > ul {
    display: block;
}

nav ul li a:hover {
    background-color: #8f7cec;
    color: white;
    border-radius: 5px; 
  

}
.nav-home {
     transition-property: transform color;
     transition-duration: 1.5s;    
}

.nav-home:hover {
    color: #8f7cec ;
    transform: rotateY(180deg);  

}
/* Textarea */
#textarea {
    font-family:'Arima', cursive;
    text-align: center;

}
/*CARROUSEL DE IMAGENES*/
.carrusel {
 width: 90em;
height: 400px;
overflow-x: scroll ;
background-color: #1c2A44;
padding: 2%;
border-radius: 25px;
box-shadow: 0 4px #8f7cec, 0 6px 0 rgba(0, 0, 0, 0.19);




}

.img-carrusel{
    display: flex;
    flex-direction: row;
  

} 

 .img {
    width: 350px;
    height: 350px;
    box-shadow: 0px 0px 15px black;
    margin-right: 50px;
   
}

 /*No Auth */
 .gradient-text {
  
    padding: 10px 20px;
    color: #df879e;
    font-size: 10px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px;
    border: 1px solid #45011a;
    margin: auto;
    list-style-type: none;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 20px;
}
span:hover {
    background: #dc8551;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #45011a, 0 0 25px #df879e, 0 0 50px #dc8551, 0 0 10px #dc879e;
}

.gradient-text{
    position: absolute;
    top: 25%;
    left: 40%;
    width: 400px;
    padding: 40px;
    background: #242026;
}




/* Footer */
footer {
    grid-area: footer;
    display: inline-flex;
    justify-content: center;  
     margin: 50px;
     width: 91%;
     background-color:rgba(143, 124,236,0.7);
     bottom: 0;
     position: absolute;
    
}
footer  li{
    list-style-type:  none;
    display: inline-flex;
   
}
footer a {
    text-decoration: none;
    color: #131315;
}
    

/* formulario de contacto */

@import url('https://fonts.googleapis.com/css2?familiy=Nunito+Sans:wght@200&display=swap');
:root {
    --font-style: 'Nunito Sans', sans-serif;
}
*{
    box-sizing: border-box;
}
body {

    font-family: cont(--font-style);
}
.box {
    position: absolute;
    top: 55%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: #242026;
    box-shadow: 0 15px 25px rgba(143, 124,236,0.7);
     border-radius: 10px;
    }; 
    
    .box h2 {
        margin: 0 0 30px;
        padding: 0;
        color: #fff;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .box .user-box input{
        position: relative;
        width: 100%;
        padding: 10px 0;
        font-size: 16px;
        color: #fff;
        margin-bottom: 30px;
        border: none;
        border-bottom: 1px solid #fff;
        outline: none;
        background: transparent;

    }
.box .user-box label {
    position: relative;
    left: 0;
    top: -60px;
    padding: 10px 0;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}
.user-box li {
    list-style-type: none;
}

.box .user-box input:focus-label,
.box .user-box input:valid-label {
    top: -85px;
    left: 0;
    color: #8f7cec;
    font-size: 8px;

}

.submit  {
    padding: 10px 20px;
    color: #cbbddb;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px;
    border: 1px solid #8f7cec;
    margin: auto;
    list-style-type: none;
    text-align: center;
    display: flex;
    justify-content: center;
}

.submit:hover {
    background: #8f7cec;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #8f7cec, 0 0 25px #8f7cec, 0 0 50px #131315, 0 0 100 #8f7cec;
    text-decoration: none;
}
.button-form {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.register {
    font-size: 17px;
    text-decoration: none;
    color: #8f7cec;
    margin: auto;
    width: 60%;
    text-align: center;
}
.register a {
    margin: auto;
    color: #cbbddb;
    text-decoration: none;
}
.imgform {
    position: absolute;
    top: 50px;
    left: -110%;
}

 
h1 {
    display: flex;
    justify-content: center;
}

 .imagen {
   width: 350px;
   height: 350px;
   border-radius: 350px;
   position: absolute;
   top: 200px;
   left: 50px;
       
 }

 /* about */

 body {
    text-align: center;
    background: #141414 url("https://unsplash.it/1228/880?image=302");
    background-size: cover;
    background-position: 50%;
    height: 100vh;
  }
  svg {
    position: absolute;
    top: 50%;
    margin-top: -60px;
    left: 50%;
    margin-left: -225px;
  }
  



   
  
 
 /*media queries*/
 @media screen and (min-width:576px) and (max-width:769px) {
    .page-container ,
    header,
    .img-container, .about
    section , .lista , .imagen , .box{ 
            flex-direction: column;
            
           
              
    }
    header {
        align-items: center;
    }
    .img-container {
        margin-left: 20px;
    }
     section img { 
        width: 400px;
        height: 300px;
        
     }
     section p {
        width: 150px;
        height: 100px;
        left: 50px;
        top: 50px ;
       
     }
     section a {
        width: 125px;
        height: 30px;
        left: 100px ;
        top:250px;
     }
    .imagen{
        left: 15rem;
    }
 .item-1 , .item-2 ,.img-about, header{
    grid-column: -3 / -4;
    margin: 15px;
    padding: 60px;

 }
 

 footer {
    width: 80%;
   }
        

}
   
 